* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(8,6,41);
    background: radial-gradient(circle, rgb(16, 12, 87) 25%, rgba(23,23,102,1) 74%, rgba(7,28,56,1) 87%);
    min-height: 100vh;
}

.caixa {
    position: relative;
    text-align: center;
    background: rgb(231, 231, 232);
    height: 550px;
    width: 860px;
    margin: 20px;
    border-radius:  0 34px 34px 0;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h2 {
    font-size: 39px;
}

.cards{
    margin-top: 50px;
    gap: 90px;
    display: flex;
    background: rgb(32, 32, 82);
    padding: 65px;
    border-radius: 14px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 220px;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 6px 6px 7px  rgb(42, 42, 43);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 11px;
}

a {
    text-decoration: none;
    color: black;
}   

.card:hover{
    transform: scale(1.09);
    box-shadow: 6px 6px 6px rgba(24, 74, 125, 0.5), 6px 6px 6px  rgba(24, 74, 125, 0.5);
}

.card img{
    width: 110px;
    height: 110px;
}

@media (max-width: 600px) {
    .caixa {
        width: 90%; 
        height: auto; 
        padding: 20px; 
    }

    .cards {
        flex-direction: column;  
        gap: 20px; 
        padding: 40px; 
    }

    .card {
        height: 150px; 
        width: 100%; 
        padding: 50px;
    }

    h2 {
        font-size: 24px; 
    }

    .card img {
        width: 80px; 
        height: 80px;
    }
}

@media (max-width: 400px) {
    .caixa {
        padding: 10px; 
        text-align: center; 
    }

    .cards {
        padding: 30px;
        margin-bottom: 25px;
    }

    .card {
        height: 120px; /* Reduz ainda mais a altura */
        width: 100%; /* Os cards ocupam toda a largura */
    }

    .card img {
        width: 60px; /* Reduz as imagens proporcionalmente */
        height: 60px;
    }

    h2 {
        font-size: 18px; /* Diminui o tamanho do título */
    }
}
