@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        hsla(0, 100%, 33%, 0.8),
        rgba(50, 29, 29, 0.8)
    );
    background-blend-mode: multiply;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    padding: 20px 120px 20px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .logo {
    position: relative;
    width: 200px; 
    height: 200px; 
    filter: brightness(1.5);
  }
    
header .top_nav ul{
    position: relative;
    display: flex;
}
header .top_nav  li{
    list-style: none;
}
header .top_nav li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}

.top_nav li a:hover{
    color: #e51e2a;
    transition: 0.3s ease-in-out;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 700px;
    margin-right: 20px;
}
.content .text h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.2em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 75px;
    color: #e51e2a;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);    
}
.content .text p{
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-indent: 2em;
    padding: 15px; 
    text-indent: 0;
    background-image: url('../images/textura.jpg'); 
    text-decoration: dashed;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255); 
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
    background-color: #6e070e;
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.icons li a{
    display: inline-block;
    margin-left: 25px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}

.icons li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}

.buttons-container {
    display: none;
  }
  
.buttons-container.active {
    display: inline-block;
  }
  
.register-button {
    display: inline-block;
    margin-top: 100px;
    padding: 10px ;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;  
}


p{
    font-family: 'Poppins', sans-serif;
}

#register-button-films, #register-button-series{
    display: inline-block;
    padding: 5px 20px ;
    background: #767074;
    color: #fff;
    text-decoration: none;
    border-radius: 40px; 
    visibility: hidden;
    margin-top: 40px;
    margin-right:10px;
    text-shadow: 2px 2px 2px #000000;
}

#register-button-films:hover, #register-button-series:hover{
    background-color: #6e070e;
}

/* From Uiverse.io by aguerquin */ 
.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 50px;
    margin-left: 100px;
}
  
.icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
}
  
.icon svg {
    width: 25px;
    height: 25px;
}
  
.cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
}
  
.button-icon:hover {
    border-color: #ff98a2;
}
  
.button-icon:hover .cube {
    transform: rotateX(90deg);
}
  
.side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}
  
.top {
    background: #ff98a2;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}
  
.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}
 
  