* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgb(16, 12, 87) 25%, rgba(23,23,102,1) 74%, rgba(7,28,56,1) 87%);
}

.navegar {
    width: 100%;
    position: fixed;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    background: rgba(216, 216, 219, 0.997);
}

.logo {
    margin-left: auto; 
    margin-right: 20px;
    font-size: 1.7em;
    color: black;
    text-decoration: underline;
    letter-spacing: 1px;
}

.logo i {
    padding: 10px;
    font-size: 35px;
}

.navegar ul {
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 30px;
}

.navegar ul li {
    z-index: 1;
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    float: left;
}

.navegar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.navegar ul li a .icone {
    position: relative;
    display: block;
    text-align: center;
    transition: 0.5s;
    font-size: 1.5em;
    transition: 0.6s;
    color: rgb(0, 0, 0);
    line-height: 75px;
}

.navegar .texto {
    position: absolute;
    color: black;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: 0.7s;
    font-size: 0.75em;
    transform: translateY(20px);
    opacity: 0;
}

.lista:hover {
    transform: translateY(-13px);
    transition: 0.4s;
}
.navegar:hover .texto {
    transform: translateY(20px);
    transition: 1.3s;
    opacity: 1;
}

@media (max-width: 647px) {
    .navegar {
        height: 60px; 
        padding: 0 10px; 
    }

    .logo {
        font-size: .9em;  
        padding-top: 40px;
        padding-left: 22px;
    }
    
    .logo i {
        visibility: hidden;
    }

    .navegar ul li {
        width: 60px;
        height: 60px;
    }

    .navegar ul li a .icone {
        font-size: 1em; 
        line-height: 60px;
    }
}


