* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(8,6,41);
    background: radial-gradient(circle, rgb(16, 12, 87) 25%, rgba(23,23,102,1) 74%, rgba(7,28,56,1) 87%);
    min-height: 100vh;
}

.caixa {
    position: relative;
    background: white;
    height: 550px;
    width: 860px;
    margin: 20px;
    border-radius:  0 34px 34px 0;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    overflow: hidden;
}

.form-login.registro {
    visibility: hidden;
}

.caixa.ativado .form-login.registro {
    visibility: visible;
}

.form-login {
    position: absolute;
    z-index: 1;
    padding: 40px;
    width: 50%;
    height: 100%;
    right: 0;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.886);
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.form-login h1 {
    position: relative;
    top: 5px;
}

.caixa.ativado .form-login {
    right: 50%;
}

.caixa p {
    font-size: 15px;
    margin: 15px 0;
}

.caixa h1 {
    font-size: 40px;
    position: relative;
    bottom: 22px;
    margin: -10px 0;
}

form {
    width: 100%;

}

.campo-input {
    position: relative;
    margin: 30px 0;
}

input {
    width: 100%;
    padding: 14px 48px 13px 22px;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.605);
    border-radius: 16px;
    font-size: 18px;
    font-weight: 480;
    outline: none;
    color: black;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.844);
    font-weight: 400;
}

.campo-input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.lembre-link {
    margin: -15px 0 15px;
}

.lembre-link a {
    font-size: 15px;
    text-decoration: none;
}

.botao {
    width: 60%;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 580;
    background: rgb(32, 32, 82);
    box-shadow: 0 0 20px rgba(38, 79, 202, 0.721);
}

.icones {
    display: flex;
    justify-content: center;
}

.icones a {
    padding: 10px;
    margin: 0 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 26px;
    text-decoration: none;
    display: inline-flex;
}

a, i {
    color: black;
}

.lembre-link a:hover {
    color: rgb(65, 36, 207);
}
.icones a:hover {
    background: rgba(38, 26, 81, 0.815);
}

.alterne::before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 300%;
    left: -250%;
    border-radius: 130px;
    height: 100%;
    background: rgb(32, 32, 82);
    transition: 1.8s ease-in-out;
}

.alterne {
    position: absolute;
    width: 100%;
    height: 100%;
}

.painel {
    position: absolute;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.painel p {
    margin-bottom: 20px;
}

.painel .botao {
    width: 160px;
    height: 46px;
    background: transparent;
    box-shadow: none;
    border: 2px solid rgb(255, 255, 255);
}

.botao:hover {
    background: rgb(24, 14, 89);
}

.painel.painel-login {
    right: -50%;
    transition-delay: .6s;
}

.painel.painel-registro {
    left: 0;
    transition-delay: 1.2s;
}

.caixa.ativado .painel.painel-registro {
    left: -50%;
    transition-delay: .6s;
}

.caixa.ativado .painel.painel-login {
    right: 0;
    transition-delay: 1.2s;
}

.caixa.ativado .alterne::before {
    left: 50%;
}

.mensagem {
    display: none;
    font-size: 20px;
    color: white;
    position: relative;
    top: 20px;
}

.fa-solid.fa-lock {
    color: black;
    padding-top: 2px;
}

@media screen and (max-width: 650px) {

    .caixa {
        height: calc(100vh - 40px);
    }

    .form-login {
        bottom: 0;
        height: 70%;
        width: 100%;
    }

    .alterne:before {
        left: 0;
        border-radius: 20vw;
        width: 100%;
        top: -270%;
        height: 300%;
    }

    .painel {
        width: 100%;
        height: 30%;
    }

    .painel.painel-registro {
        top: 0;
    }

    .painel.painel-login {
        bottom: 0;
        right: -80%;
    }

    .caixa.ativado .alterne::before {
        top: 70%;
        left: 0;
    }

    .caixa.ativado .painel.painel-registro {
        left: 0;
        top: -30%;
    }

    .caixa.ativado .painel.painel-login {
        bottom: 0;
    }

    .caixa.ativado .form-login {
        right: 0;
        bottom: 30%;
    }

    #iconeSENHA {
        padding-top: 3px;
    }

}

@media screen and (max-width: 400px) {

    .form-login {
        padding: 20px;
    }

    .painel h1 {
        font-size: 35px;
    }

    .alterne::before {
        border-radius: 38px;
    }

    #iconeSENHA {
        padding-top: 3px;
    }

}