* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30,23,55);
    background: radial-gradient(circle, rgb(49, 47, 47) 36%, rgba(0, 0, 0, 0.942) 70%);
    min-height: 100vh;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    background: white;
    height: 350px;
    width: 40%;
    margin: 20px;
    border-radius:  12px;
    box-shadow: 0 0 30px rgb(1, 1, 1);
    overflow: hidden;
}

.mensagem h1 {
    margin-bottom: 15px; 
    color: #333; 
    font-size: 30px; 
    text-align: center; 
}

.mensagem p {
    margin: 0 0 20px; 
    color: #666; 
    font-size: 16px; 
    text-align: center; 
}

.botao {
    width: 140%;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 580;
    background: rgb(116, 21, 21);
    box-shadow: 0 0 20px rgba(7, 5, 24, 0.721);
}

.botao:hover {
    scale: 1.1;
    transition: 0.8s;
}

