@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    overflow: hidden;
}
 
header{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    padding: 20px 120px 20px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .logo {
    position: relative;
    width: 200px; 
    height: 200px; 
    filter: brightness(1.5);
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #000000;
    padding: 6px 14px;
    z-index: 1;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .detalhesLogo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .detalhesLogo .nomeLogo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .detalhesLogo,
.sidebar.open .detalhesLogo .nomeLogo {
    opacity: 1;
}

.sidebar .detalhesLogo #botao {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .detalhesLogo #botao {
    text-align: center;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-lista {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li .iconeLink {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #7112129a;
}

.sidebar li .iconeLink:hover {
    background: #921111;
    scale: 1.1;
    transition: 0.8s;
}

.sidebar li .iconeLink .nomeFloat {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .nomeFloat {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li .iconeLink:hover .nomeFloat,
.sidebar li .iconeLink:hover i {
    transition: all 0.5s ease;
    color: #ffffff;
}

.sidebar li .textin {
    position: absolute;
    top: -20px;
    left: 70px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgb(153, 23, 23);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .textin {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .textin {
    display: none;
}

.sidebar li.perfil {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #000000;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.perfil {
    width: 250px;
}

.sidebar li .perfilDetalhes {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li.perfil .nomeUser {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    position: relative;
    left: 30px;
    top: 12px;
}

.sidebar .perfil #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000000;
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: all 0.5s ease;
}

.sidebar.open .perfil #log_out {
    width: 50px;
    background: none;
}

.sair i:hover{
    scale: 1.4;
    color: #ac1818;
    transition: 0.8s;
}

.sidebar.open~section {
    left: 180px;
    width: 88%;
    transition: 0.5s;
}

.content{
    background: linear-gradient(
        hsla(0, 100%, 33%, 0.8),
        rgba(50, 29, 29, 0.8)
    );
    padding: 30px;
    width: 800px;
    margin-right: 280px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.content h2{
    align-items: center;
    text-align: center;
    color: #ececec;
    text-shadow: 1px 2px 1px #000000;
    font-size: 2.5em;
    
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: normal; 
    letter-spacing: 1px; 
    color: aliceblue;
}

/* From Uiverse.io by aguerquin */ 
.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 50px;
    margin-left: 100px;
}
  
.icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
}
  
.icon svg {
    width: 25px;
    height: 25px;
}
  
.cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
}
  
.button-icon:hover {
    border-color: #878585;
}
  
.button-icon:hover .cube {
    transform: rotateX(90deg);
}
  
.side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}
  
.top {
    background: #585757;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}
  
.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}

 